{% extends 'front_site_office/base_front.html.twig' %}

{% block title %} Membres - Techzara {% endblock %}

{% block body %}

    <div class="container-fluid">
        {#<div class="col-md-12">#}
            {#<a href="{{ path('membres_new') }}" class="btn btn-info">#}
                {#<i class="icon-plus"></i> Inscrivez vous#}
            {#</a>#}
        {#</div>#}
        <div class="col-md-12" style="margin-top: 80px">
            <div class="row">
                {% for user in membres %}
                    <div class="col-md-2" style="margin-bottom: 81px;">
                        <div class="tz-testimonial text-center animate-box">
                            <figure>
                                {% set photo_profil = user.usrPhoto %}
                                {% if photo_profil is null %}
                                    {% set photo_profil = asset('front_site_office/images/techzara/icon.jpg') %}
                                {% endif %}
                                <img src="{{ photo_profil }}" alt="user">
                            </figure>
                            <blockquote>
                                {% set quotes = user.quotes %}
                                {% if quotes is null %}
                                    {% set quotes = 'Membres Techzara' %}
                                {% endif %}

                                <p>{{ quotes }}.</p>
                            </blockquote>

                            {% set facebook     = user.socialCount %}
                            {% if facebook is null %}
                                {% set facebook = 'https://www.facebook.com' %}
                            {% endif %}
                            <span>
                                <a href="{{ facebook }}"><i class="icon-facebook"></i></a>{{ user.usrLastname }}.
                            </span>
                        </div>
                    </div>
                {% endfor %}
                {#<div class="col-md-4">#}
                {#<div class="card card-profile">#}
                {#<div class="card-image">#}
                {#{% set photo_profil = user.usrPhoto %}#}
                {#{% if photo_profil is null %}#}
                {#{% set photo_profil = asset('front_site_office/images/techzara/icon.jpg') %}#}
                {#{% endif %}#}
                {#<img src="{{ photo_profil }}"#}
                {#class="user-image" alt="{{ user.username }}">#}
                {#</div>#}
                {#<div class="content">#}
                {#<h4 class="card-title">{{ user.usrFirstname }}</h4>#}
                {#<h4 class="card-title">{{ user.usrLastname }}</h4>#}

                {#<div class="footer">#}
                {#<a href="#" class="btn btn-just-icon btn-simple btn-twitter"><i class="fab fa-twitter-square"></i></a>#}
                {#{% set facebook     = user.socialCount %}#}
                {#{% if facebook is null %}#}
                {#{% set facebook = 'https://www.facebook.com' %}#}
                {#{% endif %}#}
                {#<a href="{{ facebook }}" target="_blank" class="btn btn-just-icon btn-simple btn-facebook"><i class="fab fa-facebook-square"></i></a>#}
                {#<a href="{{ path('membres_show',{'id':user.id} ) }}" class="btn btn-just-icon btn-simple btn-google"><i class="fas fa-eye"></i></a>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
            </div>
        </div>

    </div>
{% endblock %}
