{% extends 'backoffice/base_admin.html.twig' %}

{% form_theme edit_form 'form/fields.html.twig' %}

{% form_theme edit_form.lvServiceOptions _self %}
{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <span>
        <select class="select2" data-placeholder="Choisir" style="width: 100%;" oninvalid="setErrorClass($(this));"
                {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {%- if placeholder is not none -%}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>
                    {{ placeholder != '' ? placeholder|trans({}, translation_domain) }}
                </option>
            {%- endif -%}
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {{- block('choice_widget_options') -}}
                {%- if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif -%}
            {%- endif -%}
            {%- set options = choices -%}
            {{- block('choice_widget_options') -}}
        </select>
    </span>
{%- endblock choice_widget_collapsed -%}

{% block title %}{{ parent() }} Modification Service {% endblock %}

{% set menu_service        = true %}
{% set menu_service_create = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="callout callout-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="callout callout-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                {{ form_start(edit_form) }}
                    <div class="box-header">
                        <h3 class="box-title">Editer un service</h3>
                    </div>

                    <div class="box-body">
                        {{ form_row(edit_form.lvServiceType) }}
                        {{ form_row(edit_form.lvServiceOptions) }}
                        <hr>
                        {{ form_row(edit_form.srvLabel) }}
                        {{ form_row(edit_form.srvDesc) }}
                        {{ form_row(edit_form.srvPrix) }}
                        {{ form_row(edit_form.srvReduction) }}
                    </div>

                    <div class="box-footer">
                        <input type="submit" class="btn btn-primary" value="Modifier" name="update_service"/>
                        <a href="{{ path('service_index') }}"
                           class="btn btn-default pull-left btn-mini-rectif" >
                            Retour à la liste
                        </a>
                    </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}