{% extends 'email/layout_email.email.twig' %}

{% block body_html_content %}
    {% set _locale = app.request.locale %}

	<table cellpadding="0" cellspacing="0" border="0" width="600" class="kl-w480">
		<tr>
			<td height="60"></td>
		</tr>
		<tr>
			<td style="text-align:left; font-size:18px; color:#5b5a5d;">
				<p>{{ 'email.bonjour'|trans }} {{ to_email_name }},<br/></p>
				<p>{{ 'email.resume.admin'|trans }} :</p>
				<p><strong>Nom client:</strong> {{ service_client.lvUser.usrFullname }}</p>
				<p><strong>Nom entreprise:</strong> {{ service_client.lvUser.usrNomEntreprise }}</p>
				<p><strong>Email client:</strong> {{ service_client.lvUser.email }}</p>
				<p><strong>Adresse client:</strong> {{ service_client.lvUser.usrAddress }}</p>
				<p><strong>Téléphone client:</strong> {{ service_client.lvUser.usrPhone }}</p>
				<p><strong>Date:</strong> {{ service_client.srvCltDate|date('d/m/Y H:i') }}</p>
				<p><strong>Lien du projet:</strong> {{ service_client.srvCltProjectLink }}</p>
				<p><strong>Description du projet:</strong> {{ service_client.srvCltDesc|nl2br }}</p>
				<p><strong>Service:</strong> {{ service_client.lvService.srvLabel }}</p>
				<p><strong>Nombre de pages à intégrer:</strong> {{ service_client.srvCltNbrPage }}</p>
				<p><strong>Nombre de pages déclinées:</strong> {{ service_client.srvCltNbrPageDecline }}</p>
				<p><strong>Prix service:</strong> {{ service_client.lvService.srvPrix }} €</p>
				<p><strong>Réduction service:</strong> {{ service_client.lvService.srvReduction }} %</p>
				<p><strong>Description service:</strong> {{ service_client.lvService.srvDesc }}</p>
				<p><strong>Options services:</strong>
                    {% for service_option in service_client.lvServiceOptions %}
                        {{ service_option.srvOptLabel }}
						({{ service_option.serviceValeurString }})
                        {{ loop.last ? ' ' : ',' }}
                    {% endfor %}
				</p>
				<p><strong style="font-size:18px;">Total prix:</strong> {{ service_client.srvCltPrix }} €</p>
				<p>{{ 'email.merci'|trans }}</p>
			</td>
		</tr>
	</table>
	<table cellpadding="0" cellspacing="0" border="0" width="600" class="kl-w480">
		<tr>
			<td height="37"></td>
		</tr>
		<tr>
			<td style="text-align:center;"><img src="http://techzara.fr/images-email/final.jpg" alt="" /></td>
		</tr>
		<tr>
			<td height="100"></td>
		</tr>
	</table>
{% endblock %}