<page>
    <table cellpadding="0" cellspacing="0" width="800" align="center" style="font-family:arial;">
        <tr>
            <td width="600">
                <table cellpadding="0" cellspacing="0" width="600">
                    <tr>
                        <td width="300" style="border:none;" height="35">
                            <a href="https://techzara.fr/" target="_blank">
                                <img  width="150" height="70" src="https://www.techzara.fr/frontoffice/images/logo.png" alt="">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td width="200" style="color:grey;">
                            <span>TECHZARA International</span><br>
                            <span>FSC Hours 54,</span><br>
                            <span>CybercityEbene,</span><br>
                            <span>Republic of Mauritus</span>
                        </td>
                    </tr>
                    <tr><td height="35"></td></tr>
                </table>
                <table cellpadding="0" cellspacing="0" width="700">
                    <tr>
                        <td height="35" width="315" style="border:none; text-align:center;">
                        </td>
                        <td height="35" width="380" style="border:none;color: #ffffff;background: #3cadba;">
                            &nbsp; &nbsp; Facture de paiement N° <span style="color:#ffffff;">{{ service_client.id }}</span>
                            <span style="text-align: right">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Le {{ date }}</span>
                        </td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" width="700">
                    <tr>
                        <td height="35" width="700" style="border:none;color: #ffffff; background: #f76d32;text-align:center;">
                            Service : {{ service_client.lvService.srvLabel }}
                        </td>
                    </tr>
                    <tr>
                        <td height="20" style="background:#d2d2d2;"></td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" width="700" style="background:#d2d2d2;">
                    <tr>
                        <td width="700">
                            <table cellpadding="0" cellspacing="0">
                                <tr><td height="20"></td></tr>
                                <tr>
                                    <td width="20"></td>
                                    <td>
                                        <table cellpadding="0" cellspacing="0">

                                            <tr>
                                                <td height="20">
                                                    <h4>INFORMATIONS CLIENT :</h4>
                                                    Nom du client : <span>{{ service_client.lvUser.usrFullname }}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20">
                                                    Nom de l'entreprise : <span>{{ service_client.lvUser.usrNomEntreprise }}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20">
                                                    Email client : <span>{{ service_client.lvUser.email }}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20">
                                                    Adresse client : <span>{{ service_client.lvUser.usrAddress }}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20">
                                                    Téléphone client : <span>{{ service_client.lvUser.usrPhone }}</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="20"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="10" width="696">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td width="700">
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="20"></td>
                                    <td>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td height="30">
                                                    <h4>INFORMATIONS PROJET : </h4>
                                                    Date : <span>{{ service_client.srvCltDate|date('d/m/Y H:i') }}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20">
                                                    Lien du projet : <span>{{ service_client.srvCltProjectLink }}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20">
                                                    Description du projet : <span>{{ service_client.srvCltDesc|nl2br }}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20">
                                                    Nombre de pages à intégrer : <span>{{ service_client.srvCltNbrPage }}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20">
                                                    Nombre de pages déclinées : <span>{{ service_client.srvCltNbrPageDecline }}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20">
                                                    Prix du service : <span>{{ service_client.lvService.srvPrix }} €</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20">
                                                    Réduction du service : <span>{{ service_client.lvService.srvReduction }} %</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20">
                                                    Description du service : <span>{{ service_client.lvService.srvDesc }}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20">
                                                    <table>
                                                        <tr>
                                                            <td>Option du service</td>
                                                            <td width="100"></td>
                                                            <td>
                                                                <span>
                                                                    {% for service_option in service_client.lvServiceOptions %}
                                                                        <span>
                                                                            {{ service_option.srvOptLabel }}
                                                                            ({{ service_option.serviceValeurString }})
                                                                            {{ loop.last ? ' ' : ';' }}  <br>
                                                                        </span>
                                                                    {% endfor %}
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="20"></td>
                                </tr>
                                <tr><td height="20"></td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
                {#<table style="background:#d2d2d2;">#}
                    {#<tr>#}
                        {#<td height="10" width="696">#}
                            {#<hr>#}
                        {#</td>#}
                    {#</tr>#}
                {#</table>#}
                {#<table cellpadding="0" cellspacing="0" width="700" style="background:#d2d2d2;">#}
                    {#<tr>#}
                        {#<td width="700">#}
                            {#<table cellpadding="0" cellspacing="0">#}
                                {#<tr>#}
                                    {#<td width="20"></td>#}
                                    {#<td>#}
                                        {#<table cellpadding="0" cellspacing="0">#}
                                            {#<tr>#}
                                                {#<td height="30">#}
                                                    {#<h4>INFORMATIONS PROJET : </h4>#}
                                                    {#Date : <span>{{ service_client.srvCltDate|date('d/m/Y H:i') }}</span>#}
                                                {#</td>#}
                                            {#</tr>#}
                                            {#<tr>#}
                                                {#<td height="20">#}
                                                    {#Lien du projet : <span>{{ service_client.srvCltProjectLink }}</span>#}
                                                {#</td>#}
                                            {#</tr>#}
                                            {#<tr>#}
                                                {#<td height="20">#}
                                                    {#Description du projet : <span>{{ service_client.srvCltDesc|nl2br }}</span>#}
                                                {#</td>#}
                                            {#</tr>#}
                                            {#<tr>#}
                                                {#<td height="20">#}
                                                    {#Nombre de pages à intégrer : <span>{{ service_client.srvCltNbrPage }}</span>#}
                                                {#</td>#}
                                            {#</tr>#}
                                            {#<tr>#}
                                                {#<td height="20">#}
                                                    {#Nombre de pages déclinées : <span>{{ service_client.srvCltNbrPageDecline }}</span>#}
                                                {#</td>#}
                                            {#</tr>#}
                                            {#<tr>#}
                                                {#<td height="20">#}
                                                    {#Prix du service : <span>{{ service_client.lvService.srvPrix }} €</span>#}
                                                {#</td>#}
                                            {#</tr>#}
                                            {#<tr>#}
                                                {#<td height="20">#}
                                                    {#Réduction du service : <span>{{ service_client.lvService.srvReduction }} %</span>#}
                                                {#</td>#}
                                            {#</tr>#}
                                            {#<tr>#}
                                                {#<td height="20">#}
                                                    {#Description du service : <span>{{ service_client.lvService.srvDesc }}</span>#}
                                                {#</td>#}
                                            {#</tr>#}
                                            {#<tr>#}
                                                {#<td height="20">#}
                                                    {#Options du service :#}
                                                    {#<span>#}
														{#{% for service_option in service_client.lvServiceOptions %}#}
                                                            {#{{ service_option.srvOptLabel }}#}
                                                            {#({{ service_option.serviceValeurString }})#}
                                                            {#{{ loop.last ? ' ' : ',' }}#}
                                                        {#{% endfor %}#}
													{#</span>#}
                                                {#</td>#}
                                            {#</tr>#}
                                        {#</table>#}
                                    {#</td>#}
                                    {#<td width="20"></td>#}
                                {#</tr>#}
                                {#<tr><td height="20"></td></tr>#}
                            {#</table>#}
                        {#</td>#}
                    {#</tr>#}
                {#</table>#}
                <table>
                    <tr>
                        <td height="10" width="695">
                            <hr>
                        </td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" width="700">
                    <tr>
                        <td height="35" width="700" style="border:none;font-weight:bold;color: white; background: grey;text-align:right;">
                            PRIX TTC :{{ service_client.srvCltPrix }} € &nbsp; &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</page>

