{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} Liste des services client à valider {% endblock %}

{% set menu_service_client                    = true %}
{% set menu_service_client_list_not_validated = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="callout callout-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="callout callout-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {# Modal envoie commentaire #}
    <div id="id-modal-form-comment" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="id-form-comment">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Fichiers non conformes</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" value="" id="id-service-client" />
                                    <input type="hidden" value="" id="id-status" />
                                    <label for="id-comment" class="required">Commentaire</label>
                                    <textarea required id="id-comment" name="comment" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span id="id-loading"></span>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-success">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {# Modal envoie lien livré #}
    <div id="id-modal-form-lien-livre" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="id-form-finalise">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Lien livré</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" value="" id="id-service-client-lien-livre" />
                                    <input type="hidden" value="" id="id-status-lien-livre" />
                                    <label for="id-lien-livre" class="required">Lien</label>
                                    <input type="url" required id="id-lien-livre" name="lien_livre"
                                           class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span id="id-loading-lien-livre"></span>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-success">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {# Modal envoie lien code source #}
    <div id="id-modal-form-finalise" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="id-form-finalise">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Finalisé</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" value="" id="id-service-client-finalise" />
                                    <input type="hidden" value="" id="id-status-finalise" />
                                    <label for="id-lien-code-source" class="required">Lien code source</label>
                                    <input type="url" required id="id-lien-code-source" name="lien_code_source"
                                           class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span id="id-loading-finalise"></span>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-success">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">                    
                    <div class="list-count">
                        <span class="title-count-text"> TOTAL: </span><span class="title-count"></span>
                    </div>
                </div>
                
                <form action="{{ path('service_client_delete_group') }}" method="POST" class="form-search">
                    <div class="box-body table-responsive">
                        <table id="list-service_client" class="table table-bordered table-striped table-condensed">
                            <thead>
                                 <tr>
                                     <th>Entreprise</th>
                                     <th>Service</th>
                                     <th>Paiement</th>
                                     <th>Date</th>
                                     <th>Etat</th>
                                     <th>Action</th>
                                 </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">
        $(function () {
            $('#list-service_client').DataTable(
            {
                "aaSorting": [],
                "bProcessing": true,
                "bFilter": true,
                "bServerSide": true,
                "sAjaxSource": "{{ path('service_client_list_ajax', {'_type' : 'not-validated'}) }}",
                "oLanguage": {
                    "sProcessing": "Chargement...",
                    "oPaginate": {
                        "sPrevious": "Précédent", // This is the link to the previous page
                        "sNext": "Suivant", // This is the link to the next page
                    },
                    "sSearch": "Filtrer: ",
                    "sLengthMenu": "Afficher _MENU_ enregistrement par page",
                    "sEmptyTable": "Aucun service client trouvé",
                    "sInfo": "Voir _TOTAL_ de _PAGE_ pour _PAGES_ entrées",
                },
                "drawCallback": function(settings) {
                    $('.title-count').html(settings.json.iTotalRecords);
                }
            });
        });            
    </script>

    <script type="text/javascript">
        var _url_update_status_validation_ajax = "{{ path('service_client_update_status_validation_ajax') }}";
        var _url_cancel_status_validation_ajax = "{{ path('service_client_cancel_status_validation_ajax') }}";
        var _url_send_email_connexion_ajax = "{{ path('service_client_send_email_connexion_ajax') }}";
        var _url_finalise_status_validation_ajax = "{{ path('service_client_finalise_status_validation_ajax') }}";
        var _url_lien_livre_status_validation_ajax = "{{ path('service_client_lien_livre_status_validation_ajax') }}";
        var _url_send_email_confirmation_paiement_ajax = "{{ path('service_client_send_email_confirmation_paiement_ajax') }}";
    </script>

    <script src="{{ asset('backoffice/js/update.status.validation.js') }}" type="text/javascript"></script>
    <script src="{{ asset('backoffice/js/send.email.connexion.js') }}" type="text/javascript"></script>
    <script src="{{ asset('backoffice/js/send.email.paiement.js') }}" type="text/javascript"></script>
{% endblock %}
