{% extends 'backoffice/base_admin.html.twig' %}

{% form_theme edit_form 'form/custom_fields.html.twig' %}

{% block title %}{{ parent() }} Modification Portfolio {% endblock %}

{% set menu_portfolio        = true %}
{% set menu_portfolio_create = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="callout callout-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="callout callout-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                {{ form_start(edit_form) }}
                    <div class="box-header">
                        <h3 class="box-title">Editer un portfolio</h3>
                    </div>

                    <div class="box-body">
                        {{ form_row(edit_form.lvPortfolioType) }}
                        {{ form_row(edit_form.pfTitle) }}
                        {{ form_row(edit_form.pfUrl) }}
                        {{ form_row(edit_form.pfDescription) }}
                        {{ form_row(edit_form.pfImageUrl) }}
                        <div class="form-group">
                            <div class="row">
                                {% if portfolio.pfImageUrl %}
                                    <div class="col-md-2 col-lg-2 col-xs-2 blc-image">
                                        <div class="image-container-block">
                                            <img class="img-vignette img-responsive" src="{{ portfolio.pfImageUrl }}" />
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <input type="submit" class="btn btn-primary" value="Modifier" name="update_portfolio"/>
                        <a href="{{ path('portfolio_index') }}"
                           class="btn btn-default pull-left btn-mini-rectif" >
                            Retour à la liste
                        </a>
                    </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}