{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} Liste des rôles {% endblock %}

{% set menu_role      = true %}
{% set menu_role_list = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="callout callout-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="callout callout-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
    
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">                    
                    <div class="list-count">
                        <span class="title-count-text"> TOTAL: </span><span class="title-count"></span>
                    </div>
                </div>
                
                <form action="{{ path('role_delete_group') }}" method="POST" class="form-search">
                    <div class="box-body table-responsive">
                        <table id="list-role" class="table table-bordered table-striped table-condensed">
                            <thead>
                                 <tr>
                                     <th>Nom</th>
                                 </tr>
                            </thead>
                            <tbody>
                                {% for role in roles %}
                                    <tr>
                                        <td>{{ role.rlName }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">
        $(function () {
            $('#list-role').DataTable(
            {
                "aaSorting": [],
                "bProcessing": true,
                "bFilter": true,
                "oLanguage": {
                    "sProcessing": "Chargement...",
                    "oPaginate": {
                        "sPrevious": "Précédent", // This is the link to the previous page
                        "sNext": "Suivant", // This is the link to the next page
                    },
                    "sSearch": "Filtrer: ",
                    "sLengthMenu": "Afficher _MENU_ enregistrement par page",
                    "sEmptyTable": "Aucun rôle trouvé",
                    "sInfo": "Voir _TOTAL_ de _PAGE_ pour _PAGES_ entrées",
                },
                "footerCallback": function ( row, data, start, end, display ) {
                    $('.title-count').html(display.length);
                }
            });
        });            
    </script>
{% endblock %}
