{% extends 'email/layout_email.email.twig' %}

{% block body_html_content %}
    <table cellpadding="0" cellspacing="0" border="0" width="600" class="kl-w480">
        <tr>
            <td height="60"></td>
        </tr>
        <tr>
            <td style="text-align:left; font-size:18px; color:#5b5a5d;">
                <p style="margin-top:10px;margin-bottom:10px;">{{ 'email.bonjour'|trans }} {{ firstname }}</p>
                <p style="margin-top:10px;margin-bottom:10px;"><br><br>{{ 'email.content'|trans }} :</p>
            </td>
        </tr>
        <tr>
            <td>{{ 'contact.lastname'|trans }}</td>
            <td>:</td>
            <td>{{ data['lastname'] }}</td>
        </tr>
        <tr>
            <td>{{ 'contact.devis.firstname'|trans }}</td>
            <td>:</td>
            <td>{{ data['firstname'] }}</td>
        </tr>
        <tr>
            <td>{{ 'contact.devis.email'|trans }}</td>
            <td>:</td>
            <td>{{ data['email'] }}</td>
        </tr>
        <tr>
            <td>{{ 'contact.devis.phone'|trans }}</td>
            <td>:</td>
            <td>{{ data['phone'] }}</td>
        </tr>
        <tr>
            <td>Type de services</td>
            <td>:</td>
            <td>
                {% if data['service_type']|length == 0 %}
                    Aucun
                {% else %}
                    <ul>
                        {% for service_type in data['service_type'] %}
                            <li>{{ service_type }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Message</td>
            <td>:</td>
            <td>{{ data['message']|nl2br }}</td>
        </tr>
        <tr>
            <td height="60"></td>
        </tr>
        <tr>
            <td>
                <p style="text-align:left; font-size:18px; color:#5b5a5d;">{{ 'email.merci'|trans }}</p>
            </td>
        </tr>
    </table>
    <table cellpadding="0" cellspacing="0" border="0" width="600" class="kl-w480">
        <tr>
            <td height="37"></td>
        </tr>
        <tr>
            <td style="text-align:center;"><img src="http://techzara.fr/images-email/final.jpg" alt="" /></td>
        </tr>
        <tr>
            <td height="100"></td>
        </tr>
    </table>
{% endblock %}