{% set active = 'active' %}

<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="{% if menu_dashboard is defined %}{{ active }}{% endif %} treeview">
                <a href="{{ path('dashboard_index') }}">
                    <i class="fa fa-dashboard"></i> <span>Tableau de bord</span>
                </a>
            </li>

            {% if is_granted('ROLE_ADMIN') %}
                {# Utilisateur #}
                <li class="treeview {% if menu_user is defined or menu_role is defined %}{{ active }}{% endif %}">
                    <a href="#">
                        <i class="fa fa-users"></i>
                        <span>Administrateur</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        {# Utilisateur #}
                        <li class="treeview {% if menu_user is defined %}{{ active }}{% endif %}">
                            <a href="#">
                                <i class="fa fa-user"></i>
                                <span>Utilisateur</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="{% if menu_user_list is defined %}{{ active }}{% endif %}">
                                    <a href="{{ path('user_index') }}"><i class="fa fa-circle-o"></i> Liste</a>
                                </li>
                                <li class="{% if menu_user_create is defined %}{{ active }}{% endif %}">
                                    <a href="{{ path('user_new') }}"><i class="fa fa-circle-o"></i> Créer</a>
                                </li>
                            </ul>
                        </li>
                        {% if is_granted('ROLE_SUPERADMIN') %}
                            {# Rôle #}
                            <li class="treeview {% if menu_role is defined %}{{ active }}{% endif %}">
                                <a href="{{ path('role_index') }}">
                                    <i class="fa fa-balance-scale"></i>
                                    <span>Rôle</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    <a href="{{ path('article_index') }}">
                        <i class="fa fa-image"></i>
                        <span>Article</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('activite_index') }}">
                        <i class="fa fa-image"></i>
                        <span>Activite</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                </li>

                {# Email newsletter #}
                <li class="treeview {% if menu_email_newsletter is defined or menu_message_newsletter is defined %}{{ active }}{% endif %}">
                    <a href="#">
                        <i class="fa fa-newspaper-o"></i>
                        <span>Newsletter</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{% if menu_email_newsletter is defined %}{{ active }}{% endif %}">
                            <a href="{{ path('email_newsletter_index') }}">
                                <i class="fa fa-circle-o"></i> Email abonné
                            </a>
                        </li>
                        <li class="{% if menu_message_newsletter is defined %}{{ active }}{% endif %}">
                            <a href="{{ path('message_newsletter_index') }}">
                                <i class="fa fa-circle-o"></i> Newsletter
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </section>
</aside>