<section class="content-header">
    <h1>&nbsp;
        {#{% if tBreadcrumbs is defined %}
            {{ tBreadcrumbs | last['label'] }}
        
             <small>{{ tBreadcrumbs | last['desc'] }}</small>
        {% else %}
            &nbsp;
        {% endif %}#}
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('aes_admin_home') }}"><i class="fa fa-dashboard"></i> Acceuil</a></li>
        {% if tBreadcrumbs is defined %}
        {% for item in tBreadcrumbs %}
            {% if loop.last %}
            <li class="active">{{ item.label }}</li>       
            {% else %}
            <li><a href="{{ item.href }}">{{ item.label }}</a></li>        
            {% endif %}
        {% endfor %}
        {% endif %}
    </ol>
</section>