{% extends 'front_site_office/base_front.html.twig' %}

{% block title %} Applications - Techzara {% endblock %}

{% block body %}
    <section class="tz-banner-app wow pulse"></section>

    {% if cms.translate('fr').cmstContent|striptags != '' %}
        {{ cms.translate('fr').cmstContent|raw }}
    {% else %}
        <section class="tz-environnment">
            <div class="container">
                <h3 class="tz-environnement-maitrise"><strong>ENVIRONNEMENTS MAITRISÉS</strong></h3>
                <p class="tz-text">Notre équipe comporte des spécialistes des trois principaux environnement de l&rsquo;univers mobile.</p>
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="{{ asset('front_site_office/images/applications_smartphone.jpg') }}"
                             alt="applications_smartphone" width="722" height="360"/>
                    </div>
                    <div class="col-md-4">
                        <h4 class="tz-logiciels">Logiciels :</h4>
                        <ul class="tz-list-logiciels">
                            <li><b>XCode</b></li>
                            <li><b>Android Studio</b></li>
                            <li><b>Xamarin Visuel Studio</b></li>
                            <li><b>AngularJS</b></li>
                            <li><b>Ionic Framework</b></li>
                            <li><b>PhoneGap</b></li>
                            <li><b>Cordova</b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="tz-solutions-flexibles">
            <div class="container">
                <h3 class="tz-solution-flexible-title"><strong>DES SOLUTIONS FLEXIBLES</strong></h3>
                <p class="tz-text">
                    Notre panel de technologie nous permet de nous adapter à votre besoin présent en fonction de votre stage
                    de développement
                </p>
            </div>
        </section>
        <section class="tz-formule-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <span class="numformule">Formule 1</span><h3 class="tz-natif"><b>LE NATIF</b></h3>
                        <p class="tz-text">C&rsquo;est l&rsquo;approche la plus naturelle. On développe séparément pour chacune
                            des plate-formes dans
                            le langage prévu pour elles.<br />
                            Cette technique permet d&rsquo;obtenir le résultat le plus proche du système ciblé.
                            On utilise les outils
                            dédiés à chacun des environnements et on dispose des meilleures conditions pour les réalisations
                            et les tests de notre applications.
                            C&rsquo;est la formule la plus performante.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-fluid" src="{{ asset('front_site_office/images/applications_11.jpg') }}"
                             alt="applications_11" width="449" height="390"/>
                    </div>
                </div>
                <hr>
            </div>
        </section>
        <div class="clearfix"></div>
        <section class="tz-formule-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <span class="numformule">Formule 2</span><h3 class="tz-natif"><b>LE QUASI-NATIF</b></h3>
                        <p class="tz-text">Si on écarte la solution native pour des raisons de coût, l&rsquo;idée est de partager
                            le maximum de code possible. Le principal est simple : on utilise un seul langage de programmation et on
                            développe une seule fois mais
                            on utilise un ensemble d&rsquo;outils pour compiler et packager une version de l&rsquo;application
                            à chaque cible.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-fluid" src="{{ asset('front_site_office/images/applications_14.jpg') }}"
                             alt="applications_14" width="449" height="390"/>
                    </div>
                </div>
                <hr>
            </div>
        </section>
        <section class="tz-formule-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <span class="numformule">Formule 3</span><h3 class="tz-natif"><b>LE WEB</b></h3>
                        <p class="tz-text">La 3ème approche est une extension naturelle d&rsquo;une des fonctions premières des smartphones
                            depuis leur apparition : l&rsquo;accès au world wide web. Accéder au web à partir d&rsquo;un mobile
                            signifie notamment une chose : il y a un navigateur web sur le téléphone et on peut y exécuter de
                            l&rsquo;html et du Javascript.<br />
                            C&rsquo;est la solution la plus abordable.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-fluid" src="{{ asset('front_site_office/images/applications_16.jpg') }}"
                             alt="applications_16"/>
                    </div>
                </div>
            </div>
        </section>
        <section  class="tz-developpement-process">
            <div class="container">
                <h3 class="tz-process-title">PROCESSUS DE DÉVELOPPEMENT</h3>
                <img class="img-fluid tz-img-dev" src="{{ asset('front_site_office/images/applications.gif') }}" width="100%" alt="process"/>
            </div>
        </section>
    {% endif %}
{% endblock %}