{% extends 'front_site_office/base_front.html.twig' %}

{% block title %} Sites Vitrines, E-commerce - Techzara {% endblock %}

{% block body %}
    <section class="tz-banner-site wow pulse"></section>

    {% if cms.translate('fr').cmstContent|striptags != '' %}
        {{ cms.translate('fr').cmstContent|raw }}
    {% else %}
        <section class="l-section wpb_row height_medium" id="sitevitrine">
            <div class="l-section-h i-cf">
                <div class="g-cols offset_medium">
                    <div class="container">
                        <div class="wpb_text_column ">
                            <div class="wpb_wrapper">
                                <img class="tz-section-img float-right" src="{{ asset('front_site_office/images/site/site_vitrine.png') }}"
                                     alt="site_vitrine" >
                                <h3><span class="bignum">Sites Vitrines</span></h3>
                                <p><span style="font-size:18px;">Créer votre site vitrine entièrement personnalisé :</span></p>
                                <ul>
                                    <li>100% Sur mesure</li>
                                    <li>100% Responsive</li>
                                    <li>100% SEO</li>
                                    <li>100% UI Design</li>
                                </ul>
                                <h4>Logiciels</h4>
                                <ul class="logiciels">
                                    <li><img class="" src="{{ asset('front_site_office/images/site/sites_icons_wordpress.jpg') }}"
                                             alt="sites_icons_wordpress" width="40" height="40"><br>
                                        Wordpress</li>
                                    <li><img class="" src="{{ asset('front_site_office/images/site/sites_icons_joomla.jpg') }}"
                                             alt="Joomla" width="40" height="40"><br>
                                        Joomla</li>
                                    <li><img class="" src="{{ asset('front_site_office/images/site/sites_icons_bootstrap.jpg') }}"
                                             alt="Bootstrap" width="40" height="40"><br>
                                        Bootstrap</li>
                                    <li><img class="" src="{{ asset('front_site_office/images/site/sites_icons_drupal.jpg') }}"
                                             alt="Drupal" width="40" height="40"><br>
                                        Drupal</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="l-section wpb_row height_medium ult-vc-hide-row vc_row-has-fill" id="ecommerce"
                 style="padding-bottom: 20px !important; position: relative;">
            <div class="l-section-h i-cf">
                <div class="g-cols offset_medium">
                    <div class="container">
                        <div class="wpb_text_column ">
                            <div class="wpb_wrapper">
                                <img class="tz-section-img float-left"
                                     alt="ecommerce" src="{{ asset('front_site_office/images/site/ecommerce-3.jpg') }}" >
                                <h3><span class="bignum">Sites E-commerce</span></h3>
                                <p><span style="font-size: 18px;">Poussez vos clients à l’achat !</span></p>
                                <ul>
                                    <li>100% Sur mesure</li>
                                    <li>100% Responsive</li>
                                    <li>100% SEO</li>
                                    <li>100% UI Design</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <ul class=" logiciels">
                                    <li><img class="" src="{{ asset('front_site_office/images/site/sites_icons_prestashop.png') }}"
                                             alt="sites_icons_wordpress" width="40" height="40"><br>
                                        Prestashop</li>
                                    <li><img class="" src="{{ asset('front_site_office/images/site/sites_icons_joomla.png') }}"
                                             alt="Joomla" width="40" height="40"><br>
                                        Virtumart</li>
                                    <li><img class="" src="{{ asset('front_site_office/images/site/sites_icons_woo.png') }}"
                                             alt="Woocommerce" width="40" height="40"><br>
                                        WooCommerce</li>
                                    <li><img class="" src="{{ asset('front_site_office/images/site/sites_icons_magento.png') }}"
                                             alt="Magento" width="40" height="40"><br>
                                        Magento</li>
                                </ul>
                            </div>
                            <div class="col-md-5">
                                <h4>Terminaux de paiement</h4>
                                <ul class="paiement">
                                    <li><i class="fas fa-angle-right"></i>Stripe</li>
                                    <li><i class="fas fa-angle-right"></i>Paypal</li>
                                    <li><i class="fas fa-angle-right"></i>Klick and pay</li>
                                    <li><i class="fas fa-angle-right"></i>Paymil</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="l-section colorwhite" id="webapp">
            <div class="upb_row_bg" style="background: rgb(57, 169, 184) none repeat scroll 0% 0%; min-width: 1349px; left: 0px; width: 1349px;" ></div>
            <div class="l-section-h i-cf">
                <div class="g-cols offset_medium">
                    <div class="container">
                        <div class="wpb_text_column  vc_custom_1470406629147">
                            <div class="wpb_wrapper">
                                <img class="tz-section-img float-right" alt="webapp" src="{{ asset('front_site_office/images/site/web-app.gif') }}">
                                <h3><span class="bignum">Web app</span></h3>
                                <p><span style="font-size: 17px;">Nos experts maîtrisent les langages et logiciels les plus utilisés !</span></p>
                                <ul>
                                    <li>100% Sur mesure</li>
                                    <li>100% Responsive</li>
                                    <li>100% SEO</li>
                                    <li>100% UI Design</li>
                                </ul>
                            </div>
                        </div>
                        <div class="tz-sep"></div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="wpb_text_column ">
                                    <div class="wpb_wrapper">
                                        <h4><span class="bignum">Base Php</span></h4>
                                        <ul class="base">
                                            <li><i class="fas fa-angle-right"></i>Symfony</li>
                                            <li><i class="fas fa-angle-right"></i>Laravel</li>
                                            <li><i class="fas fa-angle-right"></i>CakePHP</li>
                                            <li><i class="fas fa-angle-right"></i>CodeIgniter</li>
                                            <li><i class="fas fa-angle-right"></i>Zend Framework</li>
                                        </ul>
                                        <h4><span class="bignum">Base VB</span></h4>
                                        <ul class="base">
                                            <li><i class="fas fa-angle-right"></i>VB.NET</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="wpb_text_column ">
                                    <div class="wpb_wrapper">
                                        <h4><span class="bignum">Base Java</span></h4>
                                        <ul class="base">
                                            <li><i class="fas fa-angle-right"></i>J2EE</li>
                                        </ul>
                                        <h4><span class="bignum">Base Javascript</span></h4>
                                        <ul class="base">
                                            <li><i class="fas fa-angle-right"></i>Angularjs</li>
                                            <li><i class="fas fa-angle-right"></i>NodeJS</li>
                                            <li><i class="fas fa-angle-right"></i>ReactJS</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="wpb_text_column ">
                                    <div class="wpb_wrapper">
                                        <h4><span class="bignum">Base Ruby</span></h4>
                                        <ul class="base">
                                            <li><i class="fas fa-angle-right"></i>RubyOnRails</li>
                                        </ul>
                                        <h4><span class="bignum">Base Python</span></h4>
                                        <ul class="base">
                                            <li><i class="fas fa-angle-right"></i>Django</li>
                                        </ul>
                                        <h4><span class="bignum">Base .net</span></h4>
                                        <ul class="base">
                                            <li><i class="fas fa-angle-right"></i>ASP.NET</li>
                                            <li><i class="fas fa-angle-right"></i>ASP.NET MVC</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="wpb_text_column ">
                                    <div class="wpb_wrapper">
                                        <h4><span class="bignum">SGBD</span></h4>
                                        <ul class="base">
                                            <li><i class="fas fa-angle-right"></i>Mysql</li>
                                            <li><i class="fas fa-angle-right"></i>Oracle</li>
                                            <li><i class="fas fa-angle-right"></i>PostgreSQL</li>
                                            <li><i class="fas fa-angle-right"></i>SQL Server</li>
                                            <li><i class="fas fa-angle-right"></i>MongoDB</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}